

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}



.hero{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/access.jpg); 
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	background-color: #fff;
	margin:6% auto;
	padding:5px;
	overflow: hidden;
	border-radius: 4px;
}




.button-box{
	width: 246px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 35px 9px #ff61241f;
	border-radius: 30px;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;	
}
button:focus{
	outline: none;
}

#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 123px;
	height: 100%;
	background: linear-gradient(to right, #ff105f,#ffad0f);
	border-radius: 30px;
	transition: .5s;
}


.social-icon{
	margin: 30px auto;
	text-align: center;
}

.social-icon .fa{
	width: 40px;
	margin: 0px 6px;
	padding: 10px;
	font-size: 20px;
	background:linear-gradient(to right, #ff105f,#ffad0f);
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.infut-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field{
	width: 100%;
	padding: 6px 0px;
	margin: 5px 0px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #999;
	background: transparent;
	color: #ff762b;
}
.input-field:focus{
	outline: none;
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background:linear-gradient(to right, #ff105f,#ffad0f);
	border:0;
	outline: none;
	border-radius: 30px;
}

.chech-box{
	margin: 30px 10px 30px 0px;
}

span{
	color: #777;
	font-size: 16px;
	bottom: 68px;
	position: absolute;
}

#login{
	left: 50px;
}

#Regester{
	left: 450px;
}








